@font-face {
  font-family: 'iconfont'; /* Project id 3241217 */
  src: url('iconfont.woff2?t=1656572914568') format('woff2'),
    url('iconfont.woff?t=1656572914568') format('woff'),
    url('iconfont.ttf?t=1656572914568') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bingxiang:before {
  content: '\e625';
}

.icon-xiyiji:before {
  content: '\e67d';
}

.icon-kongdiao:before {
  content: '\e65b';
}

.icon-shuinuanqigongcheng:before {
  content: '\e636';
}

.icon-haofangtuo400iconfont2reshuiqi:before {
  content: '\e6fc';
}

.icon-yigui-hui:before {
  content: '\e60d';
}

.icon-dianshi:before {
  content: '\e680';
}

.icon-icon-test:before {
  content: '\e62c';
}

.icon-jiajiabaojie-tubiao-:before {
  content: '\e63a';
}

.icon-tianranqi-01:before {
  content: '\e613';
}
